<!DOCTYPE html>
<html>
    <head>
        <title>
            Learn Django!
        </title>
        <style>
            h1 {
                color:rgb(245, 2, 237);
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

            p {
                color: rgb(245, 2, 237);
                font-family: 'Courier New', Courier, monospace;
            }
        </style>
    </head>
    <body>
        <h1>
            Hello!
        </h1>
        <p>
            this page loaded :3
        </p>
    </body>
</html>