{% extends 'base.html' %}

{% block content %}
    <style>
        .form {
            margin: 100px;
            width: 600px;
        }
    </style>
    <div class="top">
        <h1>
            Student Form
        </h1>
    </div>
    <form method="post" action="" id="studentform">
        <div class = form>
            {% csrf_token %}
            <div class="card">
                <div class="card-body">
                    {{form.as_p}} 

                    <button type="submit" class="btn btn-primary" value="Submit" id="submitbutton">
                        Submit Student
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}