{% extends 'base.html' %}

{% block content %}
{% load custom_filters %}
{% if user.is_authenticated %}
{% if request.user|has_group:"Teachers" %}
<div class="top">
    <h1>Teachers</h1>
</div>

<table class="table table-striped">
    <thead>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Subject</th>
        <th>Room Number</th>
    </thead>

    {% for i in teachers %}
        <tr>
            <td>{{ i.lastname }}</td>
            <td>{{ i.firstname }}</td>
            <td>{{ i.subject }}</td>
            <td>{{ i.roomnum }}</td>
        </tr>
    {% endfor %}
</table>
{% endif %}
{% else %}

<p>Please log in.</p>
<a href="{% url 'login' %}">Log in here</a>

{% endif %}
{% endblock %}